/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/


// Setting up the Magic Grid
$total-columns: 12; // 12 columns
$column-width: 100px; // columns are 4em wide
$gutter-width: 10px; // with 1em gutters
$grid-padding: 20px; // and 1em padding on the grid container


.l-header,
.l-main,
.l-footer {
  @include container;
}
