/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/


// Setting up the Magic Grid
$total-columns: 12; // 12 columns
$column-width: 80px; // columns are 4em wide
$gutter-width: 20px; // with 1em gutters
$grid-padding: 10px; // and 1em padding on the grid container


.l-header,
.l-main,
.l-footer {
  @include container;
}

.two-sidebars {
  .l-main {
    .l-region--sidebar-first {
      @include span-columns(3 omega, 12);
    }
    .l-content {
      @include span-columns(6, 12);
    }
    .l-region--sidebar-second {
      @include span-columns(3 omega, 12);
    }
  }
}
.sidebar-first {
  .l-region--sidebar-first {
      @include span-columns(3 , 12);
    }
  .l-content {
      @include span-columns(9 omega, 12);
    }
}
.sidebar-second {
  .l-content {
    @include span-columns(9, 12);
  }
  .l-region--sidebar-second {
      @include span-columns(3 omega , 12);
    }
}
